<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<bean id="dao" class="okapied.dao.DAO"></bean>
	<bean id="regionService" class="okapied.service.RegionService">
	    <property name="dao" ref="dao" />
	</bean>
	<bean id="propertyService" class="okapied.service.PropertyService">
	    <property name="dao" ref="dao" />
	    <property name="availabilityService" ref="availabilityService" />
	    <property name="priceService" ref="priceService" />
	    <property name="photoService" ref="photoService" />
	    <property name="accountService" ref="accountService" />
	</bean>
	<bean id="countryService" class="okapied.service.CountryService">
	    <property name="dao" ref="dao" />
	</bean>
	<bean id="availabilityService" class="okapied.service.AvailabilityService">
	    <property name="dao" ref="dao" />
	    <property name="bookingEntityService" ref="bookingEntityService" />
	</bean>
	<bean id="priceService" class="okapied.service.PriceService">
	    <property name="dao" ref="dao" />
	    <property name="bookingEntityService" ref="bookingEntityService" />
	</bean>
	<bean id="bookingEntityService" class="okapied.service.BookingEntityService">
	    <property name="dao" ref="dao" />
	</bean>
	<bean id="feedbackService" class="okapied.service.FeedbackService">
	    <property name="dao" ref="dao" />
	    <property name="bookingEntityService" ref="bookingEntityService" />
	</bean>
	<bean id="photoService" class="okapied.service.PhotoService">
	    <property name="dao" ref="dao" />
	</bean>
	<bean id="mailService" class="okapied.service.MailService"></bean>
	<bean id="okapiedUserDetailsService" class="okapied.service.OkapiedUserDetailsService">
	    <property name="dao" ref="dao" />
    </bean>
    <bean id="accountService" class="okapied.service.AccountService">
	    <property name="dao" ref="dao" />
	    <property name="mailService" ref="mailService" />
	    <property name="propertyService" ref="propertyService" />
    </bean>
    <bean id="bookingService" class="okapied.service.BookingService2">
	    <property name="dao" ref="dao" />
	    <property name="propertyService" ref="propertyService" />
	    <property name="priceService" ref="priceService" />
	    <property name="mailService" ref="mailService" />
	    <property name="refundService" ref="refundService" />
	    <property name="accountService" ref="accountService" />
    </bean>
    <bean id="refundService" class="okapied.service.RefundService">
	    <property name="dao" ref="dao" />
	    <property name="mailService" ref="mailService" />
	    <property name="propertyService" ref="propertyService" />
	    <property name="accountService" ref="accountService" />
    </bean>
    <bean id="referenceService" class="okapied.service.ReferenceService">
	    <property name="dao" ref="dao" />
    </bean>
    <bean id="propertyDetailsService" class="okapied.service.PropertyDetailsService" />
    <bean id="placeService" class="okapied.service.PlaceService">
	    <property name="dao" ref="dao" />
    </bean>
    <bean id="notificationService" class="okapied.service.NotificationService">
	    <property name="mailService" ref="mailService" />
	    <property name="bookingEntityService" ref="bookingEntityService" />
	    <property name="dao" ref="dao" />
    </bean>
    <bean id="locationService" class="okapied.service.LocationService">
	    <property name="dao" ref="dao" />
    </bean>
    <bean id="exchangeRatesService" class="okapied.service.ExchangeRatesService">
	    <property name="currencyCodeService" ref="currencyCodeService" />
	</bean>
	<bean id="currencyCodeService" class="okapied.service.CurrencyCodeService">
	    <property name="dao" ref="dao" />
    </bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />
				<property name="showSql" value="false" />
			</bean>
		</property>
		<!--
		<property name="jpaDialect">
            <bean class="okapied.dao.HibernateExtendedJpaDialect" />
        </property>
        -->
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/okapied?characterEncoding=UTF8" />
		<property name="username" value="okapied" />
		<property name="password" value="mippy666" />
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>